<div class="container pedir-plato-container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h2 class="text-center">Bodega</h2>
          </div>
          <div class="card-body">
            <p class="text-center">ver disponibilidad de ingredientes</p>
          </div>

          <div class="card-footer">
            <!-- Aquí se mostrará el plato aleatorio -->
           
             
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingrediente of platoAleatorio.ingredientes">
                  {{ ingrediente.nombre }} ({{ ingrediente.cantidad }}) unidades
                </li>
              </ul>
            
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-secondary" routerLink="/">Volver a la página de inicio</a>
      </div>
  </div>
  
  
  
