<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Bienvenidos al restaurante Decoffe</h1>

      <p class="lead">Su restaurante de confianza</p>
      <hr class="my-4">
      <p>Ofrecemos las mejores recetas de la ciudad</p>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Pedir platos</h5>
            <p class="card-text">Acceda a una gran cantidad de recetas internacionales</p>
            <a routerLink="/pedir-plato" class="btn btn-primary">Acceder</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Ver bodega de ingredientes</h5>
            <p class="card-text">Conozca la disponibilidad de ingredientes y pida un plato a su medida</p>
            <a routerLink="/pedir-bodega" class="btn btn-primary">Acceder</a>
          </div>
        </div>
      </div>

    </div>
  </div>